@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.font-extrabold {
  font-weight: 900;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
span.mantine-1rxml5w.mantine-Accordion-chevron {
  display: none;
}
.rtl {
  direction: rtl;
  * {
    font-family: "Cairo", sans-serif !important;
  }
}
.ltr {
  direction: ltr;
}
.rtl .bbr {
  display: none;
}
.page__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    position: relative;
    z-index: 5;
    min-height: 240px;
    @apply object-cover sm:object-fill;
  }
}

.page__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.page__hero__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.page__title {
  font-size: 80px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  text-align: center;
  @apply text-sm sm:text-6xl;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

.image {
  &.loaded {
    height: 100%;
  }
}
.mantine-DatePickerInput-input {
  border: 2px solid #0cceff;
  border-radius: 20px;
  padding: 0px 30px;
}
.load {
  position: fixed;
  inset: 0px;
  height: 100vh;
}
span.mantine-p2utts.mantine-Accordion-chevron {
  display: none;
}
.datebtn button {
  border: none;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  height: 50px;
  @apply text-[18px] sm:text-[22px];
}
.mantine-PasswordInput-input {
  border: none;
  border-bottom: 1px solid #707070;
}
.mantine-PasswordInput-input input[type="text"] {
  border: none;
}
.rtl .mantine-PasswordInput-root label {
  text-align: end;
  display: block;
}
div#sp-wi-10905 {
  position: sticky;
  top: 20px;
}
.loadDiv {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.LinkPdf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.questions {
}

.questionsDiv .mantine-Accordion-label {
  @apply text-xl sm:text-3xl font-bold;
}
.questionsDiv .mantine-Accordion-item {
  @apply mt-3 sm:mt-4;
}
.questionsDiv .mantine-Accordion-content {
  @apply text-lg sm:text-2xl;
}
.questionsDiv .mantine-Accordion-chevron {
  min-width: auto;
  background-color: rgba(0, 0, 0, 0.798);
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  @apply w-[20px] sm:w-[28px]  h-[20px] sm:h-[28px];
  svg {
    border-radius: 50%;
    path {
      fill: white;
    }
  }
}
.questionsDiv .mantine-Accordion-item[data-active="true"] {
  .mantine-Accordion-chevron {
    background-color: rgba(73, 206, 255, 0.907);
  }

  svg {
    border-radius: 50%;
    path {
      fill: white;
    }
  }
}
/*ownerInfo*/
.ownerInfo {
}

.ownerInfo .imgOwner {
  width: 200px;
  height: 200px;
  display: block;
  margin: 30px auto 30px;
  border-radius: 50px;
}
.ownerInfo .imgOwner img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.ownerInfo .conentOwner {
}
.ownerInfo .conentOwner p {
  margin-bottom: 6px;
  @apply text-[18px] sm:text-[22px];
}
/*boxmanege*/
.boxDirectors {
  width: 100%;
  flex: 1;
  padding: 30px 0px;
}
.boxmanege {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.options {
  background: #c6c5c5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 18px;
  margin-bottom: 20px;
  flex-direction: column;
  min-width: 200px;
  width: 200px;
  overflow-x: scroll;
  padding: 18px 12px 0px;
  max-height: 500px;
}
.options a {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  border: none;
  background-color: transparent;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 40px;
  width: 100%;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}
.options a.active {
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 0px 24px;
}
.options::-webkit-scrollbar {
  width: 0px;
}
.btnPay {
  width: max-content;
  min-width: fit-content;
  padding: 10px 14px;
  background: #0d9544;
  border-radius: 14px;
  color: white;
}

@media (max-width: 992px) {
  .boxmanege {
    flex-direction: column;
  }
  .options {
    width: 100%;
    flex-direction: row;
    margin-bottom: 0;
  }
  .options button {
  }
  .options button.active {
    min-width: auto;
  }
  .btnPay {
    border-radius: 10px;
    color: white;
    font-size: 12px;
  }
}
/*filterInvoices*/
.filterInvoices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  direction: ltr;
}
.filterInvoices .mantine-SegmentedControl-root {
  background-color: #c1c1c1;
  width: 300px;
  max-width: 96%;
}
.filterInvoices .mantine-SegmentedControl-control {
  height: 100%;
}
.filterInvoices .mantine-SegmentedControl-controlActive {
}
.allMembers {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.allMembers .boxDirectors {
}
.allMembers .boxDirectors h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0px 20px;
}
.allMembers .boxDirectors {
}
.allMembers .boxDirectors .itemImg {
  max-width: calc(25% - 15px);
  aspect-ratio: 1/1;
}
@media (max-width: 768px) {
  .allMembers .boxDirectors .itemImg {
    max-width: calc(33% - 15px);
    min-width: calc(33% - 15px);
  }
  .allMembers .boxDirectors h2 {
    font-size: 22px;
  }
}
.boxPagination {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
}
.partModal {
}
.partModal ul {
  display: flex;
  flex-direction: column;

  @apply gap-[24px] md:gap-[40px]
}
.partModal ul li {
}
.partModal ul li .parts {
  display: flex;
  align-items: flex-start;
  gap: 28px 40px;
  flex-wrap: wrap;
}
.partModal ul li .part{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex: 1;
}
.partModal ul li h3 {
  line-height: normal;
  text-wrap: nowrap;
  @apply text-[16px]   sm:text-[18px] md:text-[18px] font-light;
}
.partModal ul li p {
  line-height: normal;
  @apply text-[18px]   sm:text-[20px] md:text-[22px]  font-semibold;
}
.boxModal .mantine-Modal-title {

  flex: 1;
  text-align: center;
  font-weight: bold;
}
.boxModal .mantine-CloseButton-root {
}
.boxModal .mantine-CloseButton-root svg {
  width: 40px;
  height: 40px;
}
.boxModal .mantine-CloseButton-root svg path {
  fill: #3dace6;
}
.boxModal .mantine-Modal-content {
  border-radius: 20px;
  border: 6px solid #0babe4;
}
.partPay {
  margin: 40px auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}