.home {
  position: relative;
  min-height: 100%;
  @media (max-height: 400px) {
    min-height: 230vh;
  }

  .hero {
    width: 100%;
  }

  .home__container {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;

    @apply top-[50%] sm:top-[66%];

    @media (max-height: 500px) {
      top: 60%;
    }
  }

  .home__title {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // margin: 48px 20px 0;
    h1 {
      font-weight: 900;
      margin-top: 6px;
      text-transform: uppercase;
    }
    p {
      margin-top: 6px;
      @apply text-[10px] sm:text-lg;
    }
    .discover {
      font-weight: 900;
      font-size: 25px;
      @apply text-sm md:text-xl;
    }
  }
  .header__btn {
    border-radius: 20px;
    margin-top: 16px;
    background-color: #0cceff;
    width: fit-content;
    font-weight: bold;
    @apply h-[50px] md:h-[60px] px-[15px] md:px-[20px] text-[20px] md:text-[28px];
  }
}

.information {
  margin-top: 50px;

  form {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    @apply sm:gap-y-8 xl:gap-y-11 gap-y-5;
    .part {
      display: flex;
      width: 100%;
      flex-direction: column;
    
    
    }
  }

  .more {
    @apply md:mt-[130px] mt-[50px];
    h3 {
      font-size: 78px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      @apply md:mb-[50px] mb-[20px] lg:text-[78px] md:text-[50px] text-[30px];
    }
    .all_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;

      label  {
        max-width: 100%;
        font-weight: 900;
        padding: 10px 4px;
        border-radius: 12px;
        background-color: black;
        color: white;
   
        @apply xl:w-[430px] w-[300px] xl:text-[34px] text-[26px] md:h-[80px] h-[60px]
      }
    }
     input[type=submit] {
      max-width: 100%;
      font-weight: 900;
      padding: 10px 4px;
      border-radius: 12px;
      background-color: black;
      color: white;
      cursor: pointer;
      display: block;
      margin: 20px auto;
      @apply xl:w-[430px] w-[300px] xl:text-[34px] text-[26px] md:h-[80px] h-[60px]
    }
  }

  label {
    text-align: center;
    font-weight: 900;
    @apply   xl:text-[30px] md:text-[20px] text-[18px];
  }
  .arabic {
    font-family: "Cairo", sans-serif !important;
  }
  input,
  textarea {
    background: #e9e9e9;
    border-radius: 20px;
    height: 80px;
    max-width: 100%;
    padding: 6px 16px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    margin: auto;
    @apply w-[800px]  xl:h-[80px] md:h-[66px] h-[54px] md:order-none order-1;
  }
  textarea {
    min-height: 300px;
  }
 
  @media(max-width:430px){
    input,
    textarea {
   width: 100%;
    }
  }
}

.footer {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0cceff;
  @apply p-[16px] sm:p-[20px];

  .footer_logo {
    @apply w-[130px] sm:w-[210px];
  }
}
