.questions{
    height: 100%;
   h2{
    text-align: center;
   
  
   }
 
}


.Accordion5{
    display: block;
   
}
.mantine-Accordion-item{
    margin-top: 30px;
    font-size: 1.4rem;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
}