.questions{
    height: 100%;
   h2{
    text-align: center;
   
  
   }
 
}
.acc{
    .mantine-Accordion-labelP{
        font-weight: 700;
        @apply text-xl sm:text-3xl font-extrabold mb-6
    }
}

.Accordion5{
    display: block;
   
}
