.sign {
  background-color:#0CCEFF;
    min-height: 100vh;
    padding-bottom: 40px;
    h1{
      color: white;
max-width: 586px;
      @apply text-[50px] m-auto font-bold text-center lg:text-start  md:font-black sm:text-[90px] xl:text-[150px]
      
    }
 form{
  flex: 1;
  max-width: 670px;
background-color: white;
padding: 100px 80px 80px 54px;
border-radius: 20px;
width: 100%;
margin: auto;
@apply p-[20px] sm:pt-[100px] sm:pb-[80px] sm:pr-[80px]  sm:pl-[50px];

 }
 
label{


@apply text-[20px] font-light sm:text-[30px]  
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    @apply mb-[20px] sm:mb-[60px] text-[18px] sm:text-[22px];
    
}
input[type="password"]{

  border-bottom: none;
}
.pass{
direction: ltr;
  border-bottom: 1px solid #707070;
  margin-bottom: 20px;
}
  .btnSign {
    margin: auto;
    display: block;
    margin-top: 68px;
    background-color: #0CCEFF;
    height: 80px;
    border-radius: 20px;
    width: 260px;
    font-size: 30px;
    font-weight: 900;
    color: white;
    @apply w-[180px] sm:w-[260px] h-[58px] sm:h-[80px] text-[18px] sm:text-[30px]
}

.SignLinks{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  a{
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
}

.form3{
 
  input{
    @apply mb-[20px] ;
  }
}
.div_img{
  display: flex;
  justify-content: end;
  .img1 {
    max-width: 70%;
    border: 1px #707070 solid;
    height: auto;
    border-radius: 30px;
    width: 156px;
    height: 156px;
  
  }
}
.img2 {
  max-width: fit-content;
height: auto;
object-fit: cover;
  @apply block ;
}
  }
  .rtl {
    .sign {
    
    }
  }
  .file {
    overflow: hidden;
    border: none;
   
    border-radius: 20px;
    width: 300px;
    height: 300px;
    max-height:fit-content;
    max-width: 80%;
    @apply border-[4px] sm:h-[300px] h-[200px] m-auto md:m-0 md:border-[10px];
    position: relative;
    .file_input_label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      max-width: 100%;
      width: 100%;
      
      color: #fff;
      border-radius: 20px;
      @apply font-black text-[18px]  lg:text-[30px];
      cursor: pointer;
    }
    .file_input {
      display: none;
    }
    div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      color: #0cceff;
      @apply font-black text-[18px]  lg:text-[30px];
    }
    img {
      max-width: 100%;
      height: inherit;
      object-fit: contain;
    }
    button {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 50000;
      font-size: 40px;
      color: #ff002f;
      line-height: 0;
      font-family: cursive;
      font-weight: 500;
      @apply font-medium;
    }
  }