.imgsContainer {
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contantCard {
  width: 100%;
  padding:  30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  @media(max-width: 992px) {
    padding:  16px;

  }
}
.contantCard .decCard {
  color: white;
  font-weight: 800;
  @apply text-[22px] sm:text-[36px] lg:text-[3.5rem]  xl:text-[4rem] leading-[32px] sm:leading-[44px] md:leading-[50px] lg:leading-[66px] ;
}

.card {
  border-radius: 18px !important;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
max-height: 500px;
  @apply h-[200px] md:h-[300px] md:mb-[50px] mb-[26px] lg:h-[440px];
}
.sectionOne{
  display: flex;
  @apply flex-col xl:flex-row;
}
.ad{
  min-width: 300px;
  position: relative;
  margin-top: 40px;
 
  @apply flex-1 xl:flex-[0px] max-w-[100%] xl:max-w-[300px] ;
  
}
// @media only screen and (min-width: 600px) {
//   .rtl {
//     .contantCard p {
//       font-size: 30px;
//       line-height: 70px;
//     }
//   }
// }
// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//   .rtl {
//     .contantCard p {
//       margin-left: unset;
//       margin-right: 40px;
//       font-size: 45px;
//       text-align: start;
//       line-height: 70px;
//     }
//   }
// }

// @media only screen and (min-width: 1024px) {
//   .rtl {
//     .contantCard p {
//       margin-left: unset;
//       margin-right: 40px;
//       font-size: 45px;
//       text-align: start;
//       line-height: 70px;
//     }
//   }
// }
