.imgsContainer {
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contantCard {
  width: 100%;
  padding:  30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media(max-width: 992px) {
    padding:  16px;

  }
}
.contantCard p {
  color: white;
  font-weight: 800;
  @apply text-[28px] sm:text-[36px] lg:text-[80px]  xl:text-[100px] leading-[40px] lg:leading-[100px] xl:leading-[135px];
}

.card {
  border-radius: 18px !important;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;

  @apply h-[30vh] lg:h-[58vh];
}
.sectionOne{
  display: flex;
  @apply flex-col xl:flex-row;
}
.ad{
  min-width: 300px;
  margin: auto;
  @apply flex-1 xl:flex-[0px];
  
}
// @media only screen and (min-width: 600px) {
//   .rtl {
//     .contantCard p {
//       font-size: 30px;
//       line-height: 70px;
//     }
//   }
// }
// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//   .rtl {
//     .contantCard p {
//       margin-left: unset;
//       margin-right: 40px;
//       font-size: 45px;
//       text-align: start;
//       line-height: 70px;
//     }
//   }
// }

// @media only screen and (min-width: 1024px) {
//   .rtl {
//     .contantCard p {
//       margin-left: unset;
//       margin-right: 40px;
//       font-size: 45px;
//       text-align: start;
//       line-height: 70px;
//     }
//   }
// }
